@import url(simple.css);

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: black;
  background-color: black;
}

.reveal {
  color: white;
}

::selection {
  color: black;
  background: rgba(255, 255, 255, 0.99);
  text-shadow: none;
}

.reveal .highlight {
  text-decoration: underline;
}

.reveal a.twitter-link, .reveal a.twitter-link:hover {
  background: url('../../img/twitter-white.png') center left no-repeat;
  background-size: auto 80%;
  padding-left: 1.2em;
}

.reveal img.noborder, .reveal img.noborder:hover  {
  border: none;
  box-shadow: none;
  background: none;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: white;
}

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.2);
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: SlateGray;
}

.reveal a:not(.image):hover {
  color: SlateGray;
}

.reveal .roll span:after {
  background: SlateGray;
}

.reveal h4 .roll {
  line-height: 1.6em;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px;
  background: rgba(0, 0, 0, 0.12);
  border: 2px solid white;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
}

.reveal a:hover img {
  background: rgba(0, 0, 0, 0.2);
  border-color: SlateGray;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: SlateGray;
}

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: SlateGray;
}

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: SlateGray;
}

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: SlateGray;
}

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: SlateGray;
}

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: SlateGray;
}

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: SlateGray;
}

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: SlateGray;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(255, 255, 255, 0.2);
}

.reveal .progress span {
  background: SlateGray;
}