/*********************************************
 * STATES
 *********************************************/

.state-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba( 0, 0, 0, 0.15 );
    opacity: 0.15;
    filter: alpha(opacity=15);

    -webkit-transition: background 800ms ease;
       -moz-transition: background 800ms ease;
        -ms-transition: background 800ms ease;
         -o-transition: background 800ms ease;
            transition: background 800ms ease;
    
}
.save-ss .state-background {
    background: url('save-ss.jpg') top center;
}

.swfobject .state-background {
    background: url('swfobject.png') top center;
}

.tn .state-background {
    background: url('tn.jpg') top center;
}

.user-types .state-background {
    background: url('user-types.jpg') top center;
}

.monthly-training .state-background {
    background: url('monthly-training.jpg') top center;
}

.mbdc-training .state-background {
    background: url('mbdc-training.jpg') top center;
}

.trygit .state-background {
    background: url('trygit.jpg') top center;
}

.adminconsole .state-background {
    background: url('adminconsole.png') top center;
}


/*********************************************
 * DEFAULT ELEMENT STYLES
 *********************************************/


/*.reveal ul {
    list-style-type: none;
    margin: 0px;
}*/