/*********************************************
 * STATES
 *********************************************/

.state-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba( 0, 0, 0, 0.15 );
    opacity: 0.15;
    filter: alpha(opacity=15);

    -webkit-transition: background 800ms ease;
       -moz-transition: background 800ms ease;
        -ms-transition: background 800ms ease;
         -o-transition: background 800ms ease;
            transition: background 800ms ease;
    
}

.trailmap .state-background {
    background: url('trailmap.jpg') top center;
}